<div class="error">
    <h1>Ошибка {{ .Error.Status }}</h1>
    <p>
        Кажется, мы не можем найти страницу, которую вы ищете.
        <br>Пожалуйста, проверьте URL-адрес на наличие опечаток.
    </p>

    <a class="link" href="/">
        <svg class="icon mr" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path d="m5 12 7 6v-5h6v-2h-6V6z"></path>
        </svg>
        Вернуться на главную
    </a>
</div>